---
---

@import "{{ site.theme }}";

//////////////////////////////////////////////////////////////////////////////////////////////////
// Custom styling
//////////////////////////////////////////////////////////////////////////////////////////////////

*,*:after,*:before {
  margin: 0;
  outline: none;
  padding: 0;  
  box-sizing: border-box;
}
body {
  color: rgb(64,64,64);
  color: rgb(216,216,216);
  font-size: 16px;
  padding: 50px;
}

.wrapper {
  width:860px;
  margin:0 auto;
}
header {
  width:270px;
  float:left;
  position:fixed;
}
section {
  width:500px;
  float:right;
  padding-bottom:50px;
}
footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
}

hr {
  border:0;
  color: rgb(216,216,216);
  height:2px;
  margin:0 0 20px;
}

a,p,small,h1,h2,h3,h4,h5,h6,ul,li {
  --font: 'Catamaran', sans-serif;
  --fm-emSquare: 1;
  --fm-capitalHeight: 0.68;
  --fm-descender: 0.54;
  --fm-ascender: 1.1;
  --fm-linegap: 0;
  --lineheightNormal: (var(--fm-ascender) + var(--fm-descender) + var(--fm-linegap));
  --distanceBottom: (var(--fm-descender));
  --distanceTop: (var(--fm-ascender) - var(--fm-capitalHeight));
  --contentArea: (var(--lineheightNormal) * var(--computedFontSize));
  --valign: ((var(--distanceBottom) - var(--distanceTop)) * var(--computedFontSize));  
  --computedFontSize: (var(--capital-height) / var(--fm-capitalHeight)); 
  --computedLineheight: ((var(--line-height) * var(--capital-height)) - var(--valign));
  --capital-height: 10;
  --line-height: 2;
  font-family: var(--font);  
  font-size: calc(var(--computedFontSize) * 1px);
  line-height: calc(var(--computedLineheight) * 1px);
  vertical-align: calc(var(--valign) * -1px);  
}

h1,h2,h3 {
  color: rgb(216,216,216);
  --capital-height: 20;
  --line-height: 2;
}

footer small {
  --capital-height: 8;
  --line-height: 2;
}

//////////////////////////////////////////////////////////////////////////////////////////////////
// Nav
//////////////////////////////////////////////////////////////////////////////////////////////////

nav {
  position: fixed;
  overflow: hidden;
  text-align: left;
  margin-top: 240px;
}
nav > ul { list-style-type: none }
nav > ul > li { 
  display: block;
  height: 20px;
  width: 160px;
}
nav > ul > li > a {
  color: rgb(216,216,216);
  display: block;  
  text-transform: uppercase;
  transition: all .2s ease;
  text-decoration: none;
}
nav > ul > li > a:hover {
  color: rgb(216,96,96);
  cursor: pointer;
  padding-left: 10px;
}

//////////////////////////////////////////////////////////////////////////////////////////////////
// Font Awesome H1s
//////////////////////////////////////////////////////////////////////////////////////////////////

.fontawesome-i2svg-active body { display: initial }

section h1 .svg-inline--fa { margin-right: 10px }
section h1.fa-h1 {
  color: rgb(216,216,216);
  vertical-align: calc(var(--valign) * -1px)
}
section h1.fa-h1::before {
  display: none;
  font-family: "Font Awesome 5 Solid";  
  width: calc(1px * var(--capital-height));
  height: calc(1px * var(--capital-height));
}

section h1.home::before       { content:"\f013" }
section h1.dump::before       { content:"\f1f8" }

section h1.aer::before        { content:"\f185" }
section h1.auxilium::before   { content:"\f1e6" }
section h1.capsa::before      { content:"\f0f2" }
section h1.fera::before       { content:"\f188" }
section h1.hora::before       { content:"\f252" }
section h1.medela::before     { content:"\f0fe" }
section h1.proicio::before    { content:"\f05b" }
section h1.proprium::before   { content:"\f080" }
section h1.qualitas::before   { content:"\f1de" }
section h1.sensus::before     { content:"\f1ae" }
section h1.stirpis::before    { content:"\f471" }
section h1.tabula::before     { content:"\f14e" }
section h1.visus::before      { content:"\f03d" }

//////////////////////////////////////////////////////////////////////////////////////////////////
// EOF
//////////////////////////////////////////////////////////////////////////////////////////////////
