---
---
@import "{{ site.theme }}";

*,*:after,*:before {
  margin: 0;
  outline: none;
  padding: 0;  
  box-sizing: border-box;
}
body {
  background-color: #fff;
  color: #595959;
  font-smooth: always;
  display: none;
  padding: 50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

header {
  width:270px;
  float:left;
  position:fixed;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

a,p,small,h1,h2,h3,h4,h5,h6 {
  --font: Catamaran;
  --fm-emSquare: 1;
  --fm-capitalHeight: 0.68;
  --fm-descender: 0.54;
  --fm-ascender: 1.1;
  --fm-linegap: 0;

  --lineheightNormal: (var(--fm-ascender) + var(--fm-descender) + var(--fm-linegap));
  --distanceBottom: (var(--fm-descender));
  --distanceTop: (var(--fm-ascender) - var(--fm-capitalHeight));
  --contentArea: (var(--lineheightNormal) * var(--computedFontSize));
  --valign: ((var(--distanceBottom) - var(--distanceTop)) * var(--computedFontSize));  
  --computedFontSize: (var(--capital-height) / var(--fm-capitalHeight)); 
  --computedLineheight: ((var(--line-height) * var(--capital-height)) - var(--valign));

  --capital-height: 16;
  --line-height: 1;

  font-family: var(--font);  
  font-size: calc(var(--computedFontSize) * 1px);
  font-weight: 400;
  line-height: calc(var(--computedLineheight) * 1px);
  vertical-align: calc(var(--valign) * -1px);  
}

h1,h2,h3 {
  --capital-height: 20;
  --line-height: 1;
  
  font-size: calc(var(--computedFontSize) * 1px);
  font-weight: 700;
  line-height: calc(var(--computedLineheight) * 1px);
  vertical-align: calc(var(--valign) * -1px);
}

p {
  --capital-height: 14;
  --line-height: 1;

  font-family: var(--font);  
  font-size: calc(var(--computedFontSize) * 1px);
  font-weight: 400;
  line-height: calc(var(--computedLineheight) * 1px);
  vertical-align: calc(var(--valign) * -1px);
}

//////////////////////////////////////////////////////////////////////////////////////////////////
// Nav
//////////////////////////////////////////////////////////////////////////////////////////////////

nav {
  position: fixed;
  overflow: hidden;
  text-align: left;
  margin-top: 240px;
}
nav > ul { list-style-type: none }
nav > ul > li { 
  display: block;
  width: 160px;
}
nav > ul > li > a {
  color: rgb(64,64,64);
  display: block;
  font-size: .75rem;
  height: 24px;
  letter-spacing: .15rem;
  text-transform: uppercase;
  transition: all .2s ease;
  text-decoration: none;
}
nav > ul > li > a:hover {
  cursor: pointer;
  letter-spacing: .2rem;
  padding-left: 10px;
}

//////////////////////////////////////////////////////////////////////////////////////////////////
// Font Awesome H1s
//////////////////////////////////////////////////////////////////////////////////////////////////

.fontawesome-i2svg-active body { display: initial }

section h1 .svg-inline--fa    { margin-right:0.25em }
section h1.fa-h1::before      { display:none;font-family:"Font Awesome 5 Solid"; }
section h1.fa-h1::after       {}

section h1.home::before       { content:"\f0eb" }
section h1.overview::before   { content:"\f05a" }
section h1.dump::before       { content:"\f1f8" }

section h1.aer::before        { content:"\f185" }
section h1.auxilium::before   { content:"\f1e6" }
section h1.capsa::before      { content:"\f0f2" }
section h1.fera::before       { content:"\f188" }
section h1.hora::before       { content:"\f252" }
section h1.medela::before     { content:"\f0fe" }
section h1.proicio::before    { content:"\f05b" }
section h1.rector::before     { content:"\f2db" }
section h1.secta::before      { content:"\f14e" }
section h1.sensus::before     { content:"\f1ae" }

//////////////////////////////////////////////////////////////////////////////////////////////////
// Jemoji
//////////////////////////////////////////////////////////////////////////////////////////////////

.emoji {
  display: inline-block;
  height: 28px;
  width: 28px;
  margin: 2px;
}

//////////////////////////////////////////////////////////////////////////////////////////////////
// Octicons
//////////////////////////////////////////////////////////////////////////////////////////////////

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;  
  border: 1px solid #ddd;
  height: 48px;
  width: 48px;
  margin: 4px;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
  line-height: 0;
  color: #333;
  outline: none;
}
.octicon.octicon-logo-gist { width: 84px }
.octicon.octicon-logo-github { width: 150px }
